<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View, Edit, or Delete Invoices</title>
</head>

<body>
  <div class="home">
    <a href="home">Dashboard</a>
  </div>

  <h1 align="center">Invoices</h1>
  <p align="center">Records the information of Invoices which approved by the Salespeople</p><br>


  <!-- add a new -->
  <fieldset>    
    <caption>Create a new invoice</caption><br><br>
    <form class="addInvoice", action="/invoice" method="post">
          <input id="date" type="date" name="recordDate" placeholder = "date">
          <td><label>orderID</label><select id="orderID" name="orderID"  >
                        {% for orderID in orderIDs %}
                        <option value={{orderID[0]}}>{{orderID[0]}}</option>
                        {% endfor %}
                    </select></td>
          <input id="quantity" type="number" name="quantity" min="0" placeholder="quantity"></div>
          <input id="totalAmount" type="number" name="totalAmount" min="0" placeholder="totalAmount"></div>
          <td><label>acctID</label><select id="acctID" name="acctID"  >
                        {% for accountant in accountants %}
                        <option></option>
                        <option value={{accountant[0]}}>{{accountant[1]}}</option>
                        {% endfor %}
                    </select></td>
          <button class="submitBtn">Submit</button>
    </form>
</fieldset><br><br>


<!-- search by invoiceID -->
<fieldset>
  <caption>Search by InvoiceID</caption><br><br>
  <form class="search">
        <input id="invoiceID" type="number" name = 'searchInvoiceID' placeholder = "invoiceID" min = '1'></div>
        <button class="submitBtn">Submit</button>
        <button class="clear">Clear</button>
  </form>
</fieldset><br><br>

<!-- display all data -->
<table border="1" align="center" width = 1000px>
<caption><b>Invoice Register List</b></caption>
      <thead>
        <th>InvoiceID</th>
        <th>Date</th>
        <th>OrderID</th>
        <th>Quantity</th>
        <th>TotalAmount</th>
        <th>AcctID</th>
        <th>Update Button</th>
        <th>Delete Button</th>
      </thead>

      <tbody align="center">
        {% for r in rows %}
        <tr>
            <td> {{ r[0] }}</td>
            <td> {{ r[1] }}</td>
            <td> {{ r[2] }}</td>
            <td> {{ r[3] }}</td>
            <td> {{ r[4] }}</td>
            <td> {{ r[5] }}</td>
            <td> <input type='button' name='Update' value='Update' onclick="window.location = '/invoice_update/{{r[0]}}'"> </td>
            <td> <input type='button' name='Delete' value='Delete' onclick="window.location = '/invoice_delete/{{r[0]}}'"> </td>
      </tr>
      {% endfor %}
      </tbody>
</table>


</body>
</html>