<!-- 
Orders Table
-->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Orders</title>
  <link rel="stylesheet" href="stylesheet.css" type="text/css">
</head>
<body>
  <div class="home">
    <a href="home">Dashboard</a>
  </div>

  <!-- Data Table -->
  <h1 align="center">Orders</h1>
  <p align="center">Records the detailed information of Orders from Customers</p>
  <h2 align="center">Search Orders by ID or customerID</h2>
  <form id="searchForm" align="center">
    <input type="number" name="searchOrderID" placeholder="orderID" min = "1"/>
    <input type="number" name="searchCustID" placeholder="customerID" min = "1" />
    <input type="submit" value="Search" />
    <input type="submit" value="Display All" />
  </form>
  <br>
  <h2 align="center">Output</h2>
  <table id="ordersTable" align="center" style="border:3px #cccccc solid;" cellpadding="10" border='1'>
  	<thead>
  	  <th>OrderID</th>
  	  <th>CustomerID</th>
  	  <th>Quantity</th>
  	  <th>TotalCost</th>
  	  <th>Status</th>
  	  <th>ShipmentStatus</th>
  	  <th>Update Button</th>
  	  <th>Delete Button</th>
  	</thead>

    <tbody align="center">
    {% for r in rows %}
    <tr>
        <td> {{ r[0] }}</td>
        <td> {{ r[1] }}</td>
        <td> {{ r[2] }}</td>
        <td> {{ r[3] }}</td>
        <td> {{ r[4] }}</td>
        <td> {{ r[5] }}</td>
        <td> <input type='button' name='Update' value='Update' onclick="window.location = '/order_update/{{r[0]}}'"> </td>
        <td> <input type='button' name='Delete' value='Delete' onclick="window.location = '/order_delete/{{r[0]}}'"> </td>
  </tr>
  {% endfor %}
  </tbody>

  </table>

  <!-- Add Row Form -->
  <h2 align="center">Add New Orders</h2>
  <p align="center">Note: status will default to "Incompleted" & shipmentStatus will default to "Not_Shipped "</p>
  <form id="addForm" align="center" method="post">
    <label>Customer</label>
     <select id="custID" name="custID"  >
              {% for customer in customers %}
              <option value={{customer[0]}}>{{customer[1]}}</option>
              {% endfor %}
          </select>

    <input type="number" name="quantity" placeholder="quantity" min = '0' />
    <input type="number" name="totalCost" placeholder="totalCost" min = '0'/><br><br>

    <label>Status</label>
    <select type="text" name="status" value= "Incompleted">
      <option>Incompleted</option>
      <option>Completed</option>
    </select> 

    <label>ShipmentStatus</label>
    <select type="text" name="shipmentStatus" value= "Not_Shipped">
      <option>Not_Shipped</option>
      <option>Shipped</option>
    </select>
    <input type="submit" value="Submit" />
  </form>
</body>
</html>