<!-- 
Salespeople_Customers
-->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Salespeople_Customers</title>
  <link rel="stylesheet" href="stylesheet.css" type="text/css">
</head>
<body>
  <div class="home">
    <a href="home">Dashboard</a>
  </div>
  
  <!-- Data Table -->
  <h1 align="center">Salespeople_Customers (Sales Record)</h1>
  <p align="center">Records the detailed information of sales record</p>
  <h2 align="center">Search by date, staffID, or customerID</h2>
  <form id="searchForm" align="center">
    <input type="date" name="searchDate" placeholder="date" />
    <input type="number" name="staff" placeholder="staffID" />
    <input type="number" name="customer" placeholder="customerID" />
    <input type="submit" value="Search" />
    <input type="submit" value="Display All" />
  </form>
  <br>

  <h2 align="center">Output</h2>
  <table id="salesCustomersTable" align="center" style="border:3px #cccccc solid;" cellpadding="10" border='1'>
  	<tr>
  	  <th>Date</th>
  	  <th>StaffID</th>
  	  <th>CustomerID</th>
  	  <th>Sales</th>
  	  <th>Update Button</th>
      <th>Delete Button</th>
  	</tr>

   <tbody align="center">
      {% for r in rows %}
      <tr>
          <td> {{ r[1] }}</td>
          <td> {{ r[2] }}</td>
          <td> {{ r[3] }}</td>
          <td> {{ r[4] }}</td>
          <td> <input type='button' name='Update' value='Update' onclick="window.location = '/sales_customer_update/{{r[0]}}'"> </td>
          <td> <input type='button' name='Delete' value='Delete' onclick="window.location = '/sales_customer_delete/{{r[0]}}'"> </td>

      </tr>
    {% endfor %}
  </tbody>
  </table>

  <!-- Add Row Form -->
  <h2 align="center">Add New Sales Record</h2>
  <form id="addForm" align="center" method="post">
    <tr>
    <td><input type="date" name="saleDate" placeholder="date" /></td>
     <label>StaffID</label>
        <select id="staffID" name="staffID"  >
              {% for staffID in staffIDs %}
              <option value={{staffID[0]}}>{{staffID[1]}}</option>
              {% endfor %}
        </select>
      <label>CustomerID</label>
        <select id="customerID" name="customerID"  >
              {% for customer in customers %}
              <option value={{customer[0]}}>{{customer[1]}}</option>
              {% endfor %}
        </select>

    <td><input type="number" name="sales" placeholder="sales" min = "0" /></td>
    <td><input type="submit" value="Submit" /></td>
   </tr>
  </form>

  <br>
  
</body>
</html>