<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View, Edit, or Delete Invoices</title>
</head>
<body>
  <fieldset>
    <caption>Add a new accountant</caption>
    <br>
    <br>
    <form class="add">
          <input id="name" type="text" name="name" placeholder="name"></div>
          <input id="age" type="number" name="age" placeholder="age"></div>
          <button class="submitBtn">Submit</button>
    </form>
</fieldset>
<br>
<br>
<table border="1" align="center" width = 1000px>
<caption><b>Accountant Register List</b></caption>
      <tr align="center">
        <th>id</th>
        <th>name</th>
        <th>age</th>
        <th>update button</th>
        <th>delete button</th>
      </tr>
      <tbody>
        <tr align="center">
        <td>1</td>
        <td><input type="text" value="carol s"></td>
        <td><input type="number" value="30"></td>
        <td><button>update</button></td>
        <td><button>delete</button></td>
      </tbody>


</table>

  
</body>
</html>