<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Manage order and product relationship</title>
</head>
<body>
  <div class="home">
    <a href="index.html">Dashboard</a>
  </div>

  <h1 align="center">Orders_Products</h1>
  <p align="center">Records the M:M relationships between Orders and Products</p>
  <br>

    <table border="1" align="center" width = 500px>
      <caption><b>All Orders</b></caption>
        <tr align="center">
          <th>orderID</th>
          <th>customerID</th> 
          <th>quantity</th>
          <th>totalCost</th>
          <th>status</th>
          <th>shipmentStatus</th>
        </tr>
      </table>
    <br>
    <br>
    <table border="1" align="center" width = 500px>
      <caption><b>All Products</b></caption>
        <tr align="center">
          <th>ID</th>
          <th>name</th>
          <th>quantity</th>
          <th>cost in dollar</th>
          <th>update button</th>
          <th>delete button</th>
        </tr>
      </table>
    <br>
    <br>
    <br>
    <fieldset>
      <table border="1" align="center" width = 500px>
        <caption><b>Orders and Products </b></caption>
          <tr align="center">
            <th>orderID</th>
            <th>itemID</th>
            <th>quantity</th>
          </tr>
        </table>
    </fieldset>
    <br>
    <br>
    <br>
    <fieldset>
      <div align="center">
        <h4>Search by Orders or Products</h4>
        <label for="orderID">orderID</label>
        <input type="orderID">
        <label for="itemID">itemID</label>
        <input type="itemID">
        <input type="submit" value="Submit">
 
  
          </tr>
        </div>
    </fieldset>




</body>
</html>